<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.practica2">

    <!-- Permisos necesarios para la aplicación -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Practica2"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Activity principal para registro de usuario -->
        <activity
            android:name=".view.RegisterActivity"
            android:exported="false" />

        <!-- Activity principal de la aplicación -->
        <activity
            android:name=".view.MainActivity"
            android:exported="false" />

        <!-- Activity para el inicio de sesión -->
        <activity
            android:name=".view.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity para editar perfil -->
        <activity
            android:name=".view.EditProfileActivity"
            android:exported="false"/>

        <!-- Activity para mostrar el perfil del usuario -->
        <activity
            android:name=".view.ProfileActivity"
            android:exported="false"/>

        <!-- Activity para el panel de administrador (si corresponde) -->
        <activity
            android:name=".view.AdminActivity"
            android:exported="false"/>

    </application>

</manifest>
